{% extends 'base.html' %}

{% block page_title %}
{{page_title}}
{% endblock %}


{% block content %}
<h1 class="text-center">USER DETAIL PAGE </h1>
<div class="container">
    <table class="table">
        <thead>
            <th>username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td><a class="btn btn-danger m-1" href="/users/{{user.username}}/delete">Delete User</a></td>

            </tr>
        </tbody>
        
    </table>
    <h3 class="text-center">FEEDBACKS BY {{user.username}}!</h2>
    <table class="table">
        <thead>
            <th>Title</th>
            <th>Content</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
            <tr>
                <td>{{feedback.title}}</td>
                <td>{{feedback.content}}</td>
                <form>
                    <td><div class="button-group">
                        <button class="btn btn-info m-1" formmethod="GET" formaction='/users/{{user.username}}/feedback/{{feedback.id}}/update'>Edit</button>
                        
                        <button class="btn btn-danger m-1" formmethod="POST" formaction='/users/{{user.username}}/feedback/{{feedback.id}}/delete'>Delete</button>
                        
                    </div></td>
                </form>
              
            </tr>
            {% endfor %}
        </tbody>
    </table >

    <form action="/users/{{user.username}}/feedback/add">
        <button class="btn btn-primary">Add Feedback</button>
    </form>
</div>



{% endblock %}